{% comment %}
<footer id="footer" class="site-footer">
  <div class="inner">
    <div class="copyright">
      {% if site.copyright %}
        {{ site.copyright | markdownify }}
      {% else %}
        <p>&copy; {{ site.time | date: '%Y' }} Unfinished Labs</p>
      {% endif %}
    </div>
  </div>
</footer>
{% endcomment %}


<footer class="site-footer">
  <div class="inner">
    <ul>
      <li>
          {% include nav-pages.html %}
      </li>
      <li>
        <ul>
          <li>&nbsp;</li>
          {% comment %}
          <li><p><a href="/privacy">Privacy</a></p></li>
          <li><p><a href="/cookies">Cookies</a></p></li>
          {% endcomment %}
        </ul>
      </li>
      <li class="social">
        {% include nav-social.html %}
        <a class="emailLink" href="mailto:info@frequency.xyz">info@frequency.xyz</a>
        <div class="copyright"><p>&copy; {{ site.time | date: '%Y' }} Frequency Network Foundation</p></div>
      </li>     
    </ul>
  </div>
</footer>