{% comment %}
<footer id="footer" class="site-footer">
  <div class="inner">
    <div class="copyright">
      {% if site.copyright %}
        {{ site.copyright | markdownify }}
      {% else %}
        <p>&copy; {{ site.time | date: '%Y' }} Unfinished Labs</p>
      {% endif %}
    </div>
  </div>
</footer>
{% endcomment %}


<footer class="site-footer">
  <div class="inner">
    <ul>
      <li>
          {% include nav-pages.html %}
      </li>
      <li>
        <ul>
          <li><p><a href="/privacy">Privacy</a></p></li>
          <li><p><a href="/cookies">Cookies</a></p></li>
          <li><p><a href="https://github.com/LibertyDSNP/meta/blob/main/CODE_OF_CONDUCT.md" target="_blank">Code of Conduct</a></p></li>
        </ul>
      </li>
      <li class="social">
        {% include nav-social.html %}
        <div class="copyright"><p>&copy; {{ site.time | date: '%Y' }} Unfinished Labs</p></div>
      </li>     
    </ul>
  </div>
</footer>