/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
  display: inline-block;
  padding: 0.5rem 5rem;
  border: 0;
  border-radius: $border-radius;
  border: 1px solid $white;
  //background-color: $accent-color;
  background-color:rgba(255,255,255,.2);
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size:1.25rem;

  &:hover {
    background-color:rgba(255,255,255,.35);
    color: #fff;
  }

  &:focus {
    background-color: shade($accent-color, 20%);
  }

  .icon {
    margin-right: 0.5em;
  }

  &.charcoal {
    border: 1px solid $charcoal;
    color:$charcoal;
    //background-color:rgba(0,0,0,.2);
  }

  /* block button fills width of parent container */
  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 1rem;
    }
  }
}
