/* SangBleu-Varsailles Reg XL */
@font-face {
    font-family: 'SangBleu-Versailles-Reg-WebXL';
    font-style: normal;
    //font-weight: 700;
    src: url('../fonts/SangBleuVersailles-Regular-WebXL.woff2') format('woff2');
  }


/* FFRealText-Medium Reg */
@font-face {
    font-family: 'FFRealText-Medium';
    font-style: normal;
    //font-weight: 700;
    src: url('../fonts/FFRealText-Medium.woff2') format('woff2');
  }

/* FFRealText-Medium Semi-Light */
@font-face {
    font-family: 'FFRealText-Semi-Light';
    font-style: normal;
    //font-weight: 700;
    src: url('../fonts/FFRealText-Semi-Light.woff2') format('woff2');
  }
