/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer {
  color: $white;
  background:$text-color;
  margin:0;
  z-index:100;
  position: sticky;
  .inner {position:relative;}
  ul {
    display:flex; justify-content:space-between; list-style:none; margin:0; padding:0; width:100%; flex-wrap:wrap; 
     li {
      width:30%;
      ul {
        flex-direction:column;
        li {text-align:left; width:100% !important; margin-bottom:.75rem;}
        p {margin-bottom:0;}
      }
      &.social {
        ul {
          flex-direction:row; width:80%; margin-left:20%; /*max-width:200px;*/ text-align:right; /*margin-bottom:1.5rem;*/ justify-content:flex-end;
        }
        .copyright {
          text-align:right; font-size:100%; position:absolute; bottom:5vw; right:5vw;
          p {margin:0;}
        }
      }
      
      //&:last-child ul {
        //flex-direction:row; width:80%; margin-left:20%; /*max-width:200px;*/ text-align:right; /*margin-bottom:1.5rem;*/ justify-content:flex-end;
      //}
      /*@media screen and (min-width:$large) {
        &:nth-child(1){width:20%;}
        &:nth-child(2){width:55%}
        &:nth-child(3){width:25%}
      }*/
      /*@media screen and (min-width:$medium) {*/
        &:nth-child(1){width:20%;}
        &:nth-child(2){width:40%}
        &:nth-child(3){width:40%}
      /*}*/
      @media screen and (max-width:$small) {
        &:nth-child(1){width:35%; order: 1;}
        &:nth-child(2){width:35%; order: 3;}
        &:nth-child(3){width:65%; order: 2;}
      }
    }
   
    /*}*/
    a {
      text-decoration:none; font-family:$base-font-family-bold;
      &:hover {color:$white;}
    }    
  }
}

