/* ==========================================================================
   Site-wide
   ========================================================================== */

h2 {
  @include fluid-type($min-vw, $max-vw, 24px, 80px);
  margin-bottom:3rem; 
}
h3 {
  @include fluid-type($min-vw, $max-vw, 18px, 50px);
  margin-bottom:2.5rem;
}
h4, p.large {
  @include fluid-type($min-vw, $max-vw, 16px, 30px);
  margin-bottom:2rem;
}
p {
  @include fluid-type($min-vw, $max-vw, 14px, 26px);
}   

section {
  display:flex; justify-content:center; align-content:center;
  @media screen and (min-width:$large){
    h2, h3, h4, h5, h6 {padding-right:5vw; padding-left:5vw; }
  }
}

#masthead {
  position:fixed; z-index:101; width:100%; background:$white; border-bottom:1px solid $white;
  .inner {
    background:#fff; display:flex; justify-content:space-between; align-items: center;
    margin:0px auto; padding:1.5rem 5vw; height:6rem;
    .nav-pages { top:unset; width:40%; pointer-events:none;}
    .title-wrapper {
      width:30%;
      .site-title {margin:0; text-align:left;}
      .site-logo {width: 80%;}
    }
  }
  // hide header masthead elements for mobile view 
  @media screen and (max-width:$medium) {
    .inner {
      height: 4rem; padding: 1rem 5vw;
      .nav-social, .nav-pages { display:none;}
      .title-wrapper {
        width:unset;
        .site-logo {width:50%;}
      }
    }
  }
}

.nav-social {
  display:flex; margin:0;  width:30%; justify-content:right; align-items:center; 
  li {
    list-style:none; display:inline; max-width:1.75rem; min-width:1rem; margin-left:1.5rem;
  }
}




#main {
  z-index:1;
  /*&.scrolled {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    section {
      scroll-snap-align: top; height:95vh;
    }
  }*/  
}



/*.canvas {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  section {
    scroll-snap-align: center; height:100vh;
  }
}*/


