/* ==========================================================================
   Site-wide
   ========================================================================== */

h2 {
  @include fluid-type($min-vw, $max-vw, 26px, 76px);
  margin-bottom:2.75rem; 
}
h3 {
  @include fluid-type($min-vw, $max-vw, 20px, 50px);
  margin-bottom:2.5rem;
}
h4 {
  @include fluid-type($min-vw, $max-vw, 18px, 44px);
  margin-bottom:2rem;
}
h5 {
  @include fluid-type($min-vw, $max-vw, 16px, 38px);
  margin-bottom:2rem;
}
p.large {
  @include fluid-type($min-vw, $max-vw, 18px, 30px);
  margin-bottom:2rem;
}
p {
  @include fluid-type($min-vw, $max-vw, 16px, 26px);
}  

@media screen and (max-width:$xsmall){
  h2 {
    @include fluid-type($min-vw, $max-vw, 22px, 26px);
  }
  h3 {
    @include fluid-type($min-vw, $max-vw, 17px, 20px);
  }
  h4 {
    @include fluid-type($min-vw, $max-vw, 15px, 18px);
  }
  h5 {
    @include fluid-type($min-vw, $max-vw, 13px, 16px);
  }
  p.large {
    @include fluid-type($min-vw, $max-vw, 15px, 18px);
  }
  p {
    @include fluid-type($min-vw, $max-vw, 13px, 16px);
  }  

}

section {
  display:flex; justify-content:center; align-content:center;
  @media screen and (min-width:$large){
    h2, h3, h4, h5, h6 {padding-right:5vw; padding-left:5vw; }
  }
}

#masthead {
  position:fixed; z-index:101; width:100%; background:$white; border-bottom:1px solid $white;
  .inner {
    background:#fff; display:flex; justify-content:space-between; align-items: center;
    margin:0px auto; padding:1.5rem 5vw; height:6rem;
    .nav-pages { top:unset; width:45%; pointer-events:none;}
    .title-wrapper {
      width:30%;
      .site-title {margin:0; text-align:left;}
      .site-logo {width: 80%;}
    }
  }
  // hide header masthead elements for mobile view 
  @media screen and (max-width:$medium) {
    .inner {
      height: 4rem; padding: 1rem 5vw;
      .nav-social, .nav-pages { display:none;}
      .title-wrapper {
        width:unset;
        .site-logo {width:50%;}
      }
    }
  }
}

.nav-social {
  display:flex; margin:0;  width:30%; justify-content:right; align-items:center; 
  li {
    list-style:none; display:inline; max-width:1.75rem; min-width:1rem; margin-left:1.5rem;
  }
}




#main {z-index:1;}

