/* ==========================================================================
   Page intro
   ========================================================================== */
 

.layout--home, .layout--social-web, .layout--how {
  .initial-content {
    position:relative;
  }
  .intro-title {
    color:$white;
    align-self:center;
    text-align:center;
    position:fixed;
    top:25vw;
    margin:0px auto;
    padding: 0 0 3rem;
    z-index:0;
    padding: 0 12vw 3rem;
    pointer-events:none;
  } 
  #fixedTitle {width:100%; text-shadow: 5px 2px 30px $blue;}
  /*transition effects only for larger devices*/
  &.intro-scroll {
    #fixedTitle {
      opacity:0;
      -webkit-transition: opacity 1s 0s ease, all 1s 0s ease;
      -moz-transition: opacity 1s 0s ease, all 1s 0s ease;
      -o-transition: opacity 1s 0s ease, all 1s 0s ease;
      transition: opacity 1s 0s ease, all 1s 0s ease;
    }
    //@media screen and (min-width:$medium){
      @media (orientation: landscape) {
      .subheading-text {
        opacity:1;
        -webkit-transition: opacity 3s 0s ease, all 1s 0s ease;
        -moz-transition: opacity 3s 0s ease, all 1s 0s ease;
        -o-transition: opacity 3s 0s ease, all 1s 0s ease;
        transition: opacity 3s 0s ease, all 1s 0s ease;
      }
      .sub-hero-wrapper .nav-pages {
        opacity:1;
        -webkit-transition: opacity 3s 0s ease, all 0s 0s ease;
        -moz-transition: opacity 3s 0s ease, all 0s 0s ease;
        -o-transition: opacity 3s 0s ease, all 0s 0s ease;
        transition: opacity 3s 0s ease, all 0s 0s ease;
      }  
    } 
  }
  &.intro-unscrolled {
    #fixedTitle {
      opacity:1;
      -webkit-transition: opacity 1s 0s ease, all 2s 0s ease;
      -moz-transition: opacity 1s 0s ease, all 2s 0s ease;
      -o-transition: opacity 1s 0s ease, all 2s 0s ease;
      transition: opacity 1s 0s ease, all 2s 0s ease;
    }
   // @media screen and (min-width:$medium){
      @media (orientation: landscape) {
        .sub-hero-wrapper .nav-pages {
        opacity:0;
        -webkit-transition: opacity 1s 0s ease, all 2s 0s ease;
        -moz-transition: opacity 1s 0s ease, all 2s 0s ease;
        -o-transition: opacity 1s 0s ease, all 2s 0s ease;
        transition: opacity 1s 0s ease, all 2s 0s ease;
      }
      .subheading-text {
        opacity:0;
        -webkit-transition: opacity 3s 0s ease, all 2s 0s ease;
        -moz-transition: opacity 3s 0s ease, all 2s 0s ease;
        -o-transition: opacity 3s 0s ease, all 2s 0s ease;
        transition: opacity 3s 0s ease, all 2s 0s ease;
      } 
    } 
  }
  @media screen and (max-width:$small) {
    .sub-hero-wrapper .subheading-text {
      .intro-title {padding:0 !important;}
      .descWrapper p {text-align: center;}
    }
  }  
  @media screen and (max-width:$xsmall) {
    .descWrapper p {text-align: left !important;}
  }
}
  


.layout--home {
  .parallax-wrapper .parallax-1::before {
    background-image: url('/assets/images/illustration-01.jpg');
  }
  #fixedTitle {padding:0 5vw;}
  .sub-hero-wrapper {
    .subheading-text {
      padding:15vw 0vw;
      .intro-title {padding:0 10vw;}
      p {padding:0 10vw;}
      @media screen and (min-width:$xxlarge) {
        padding:15vw 5vw;
      } 
      @media screen and (max-width:$small) {
        padding:15vw 3vw;
        p {padding:0 3vw;}
      } 
      @media screen and (max-width:$xsmall) {
        padding:15vw 5vw;
        p {padding:0;}
      } 
    }
    &:after {
      content:''; background:url('/assets/images/lines-3.png') no-repeat;
      background-position:bottom right; position:absolute;
      width:100%; height:100%; background-size:100%; z-index:0;
    }
  }
  //.intro-2 .intro-title {padding:0 !important;}
  /*@media screen and (min-width:$xlarge) {
    #fixedTitle {padding:0 14vw;}
  }
  @media screen and (min-width:$xxlarge) {
    #fixedTitle {padding:0 17vw;}
  }*/
}
.layout--how {
  .sub-hero-wrapper .subheading-text {
    padding:15vw 5vw 10vw;;
    .intro-title {
      padding:0 5vw;
    }
    @media screen and (min-width: $medium) {
      h3 {padding-bottom:1rem; line-height:4rem;}
      h2 {padding-bottom:2rem;}
    }
    @media screen and (max-width: $medium) {
      h3 {line-height:3rem;}
    }
  }  
}

.layout--social-web {
  .parallax-wrapper .parallax-1 {
    &::before {
      background-image: url('/assets/images/illustration-02.jpg');
      }
  }
  .sub-hero-wrapper .subheading-text {
    .intro-title {margin-bottom:0;}
    h4 {padding:0 8vw;}
    @media screen and (max-width: $small) {
      h4 {font-size:22px; line-height:33px;}
    }
  }
  

  @media screen and (max-width: $medium) {
    #fixedTitle {padding:0;}
    .sub-hero-wrapper .subheading-text {
      //padding-bottom:15rem;
      .intro-title {padding:0 !important; margin-bottom:2rem;}
      h4 {padding:0}
    }
    
  }
  @media screen and (min-width: $xlarge) {
    #fixedTitle {padding:0 11vw;}
    .sub-hero-wrapper .subheading-text {
      .intro-title {padding:3rem 6vw;}
    h4 {padding:0 10vw;}
    }
  }
  @media screen and (min-width: $xxlarge) {
    #fixedTitle {padding:0 13vw;}
    .subheading-text .intro-title {padding:0 8vw;}
  }
}

 
.layout--social-web, .layout--how {  
  .sub-hero-wrapper .subheading-text {
    @media screen and (min-width: 850px) {
      .descWrapper {columns: auto 2; column-gap: 4vw; text-align:left; margin-top:4vw;}
    }
    @media screen and (max-width: $medium) {
      .descWrapper p {text-align:left;}
    } 
  }
}

.parallax-wrapper {
    //height: 63vw;
    height: 62.25vw;
    top:6rem;
  &:before {
    background: #222;
    position: fixed;
    top: 6rem;
    bottom: 0;
    width: 100%;
    height:56.28vw;
    z-index: -3;
    content: "";
    }
    .parallax { 
      width: 100vw; height:64.25vw;
      position: relative;       
      &::before {
        content: "";
        background-repeat: no-repeat; background-position: top left; background-size:100%; opacity:.8;
        position:fixed;top: 6rem; left: 0px; right: 0px; bottom: 0px; z-index: -2;
      }
    } 
    @media screen and (max-width:$medium) {
      &:before {top:4rem; }
        .parallax-1:before {top:4rem;}
    }        
}

.sub-hero-wrapper {
  position:relative; display:flex;
  width:100%;
  video {
    width:100%; height:100%;
    object-fit: cover; position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: 0;
  }
  .subheading-text {
    position:relative; /*padding:15vw 5vw;*/ padding:10vw 5vw; text-align: center; z-index:1;
    color: $white; 
    @media (orientation: landscape) {opacity:0;}
    
    .intro-title {
      position: unset; top: unset; left: unset; width: unset; margin-bottom:3rem;
    }
    //p { line-height:normal; }
  }      
}


.layout--home, .layout--social-web, .layout--how {

  /*portrait styles - large and small screens */
  @media (orientation: portrait) {
    //#fixedTitle {display:none;}
    .sub-hero-wrapper {
      min-height:60vh;
      .nav-pages {display:flex; opacity:1;}
    }
    .intro-2 .intro-title {
      padding:0 5vw 3rem;
    }
  }

  /* portrait styles - small screens only */
  @media screen and (max-width:$medium) and (orientation:portrait) {
    //.intro-title {top:6rem;}
    .parallax-wrapper {
      &::before, .parallax, .parallax:before {min-height:unset;}      
      .parallax::before {background-size:100%;}
    }
    //#fixedTitle {display:none;}
    .sub-hero-wrapper {
      .nav-pages {display:none;}
      .subheading-text {
        .intro-title {padding: 0 5vw;}
      }
    }
  }
} 
@media screen and (max-width:$medium){
  .layout--home {
    .parallax-wrapper .parallax::before {
      background-image: url('/assets/images/illustration-01-mobile.jpg');
    }  
  }
}
@media screen and (max-width:$medium){
  .layout--how {
    .subheading-text {
      padding: 8rem 5vw; 
    }
  }
}
@media screen and (max-width:$medium){
  .layout--social-web {
    .parallax-wrapper .parallax::before {
      background-image: url('/assets/images/illustration-02-mobile.jpg'); 
    }  
  }
}
@media (min-aspect-ratio: 17/9) {
  .parallax-wrapper {
    height: 62vw;
    top:unset;
    position:relative;
    &:before {
      position: absolute; 
      .parallax { 
        width: 100vw; height:64.25vw;
        position: relative;       
        &::before {
          position:relative;
        }
      }
    }
  } 
.layout--home .parallax-wrapper .parallax-1::before, .layout--social-web .parallax-wrapper .parallax-1::before {position:absolute;}
#fixedTitle {position:absolute; top:20vw}
}
     