/* ==========================================================================
   Page intro
   ========================================================================== */
 

.layout--home, .layout--about, .layout--how {
  .initial-content {
    position:relative;
  }
  .intro-title {
    color:$white;
    align-self:center;
    text-align:center;
    position:fixed;
    top:25vw;
    margin:0px auto;
    padding: 0 0 3rem;
    z-index:0;
    padding: 0 12vw 3rem;
    pointer-events:none;
  } 
  #fixedTitle {width:100%; text-shadow: 5px 2px 30px $blue;}
  /*transition effects only for larger devices*/
  &.intro-scroll {
    #fixedTitle {
      opacity:0;
      -webkit-transition: opacity 1s 0s ease, all 1s 0s ease;
      -moz-transition: opacity 1s 0s ease, all 1s 0s ease;
      -o-transition: opacity 1s 0s ease, all 1s 0s ease;
      transition: opacity 1s 0s ease, all 1s 0s ease;
    }
    //@media screen and (min-width:$medium){
      @media (orientation: landscape) {
      .subheading-text {
        opacity:1;
        -webkit-transition: opacity 3s 0s ease, all 1s 0s ease;
        -moz-transition: opacity 3s 0s ease, all 1s 0s ease;
        -o-transition: opacity 3s 0s ease, all 1s 0s ease;
        transition: opacity 3s 0s ease, all 1s 0s ease;
      }
      .sub-hero-wrapper .nav-pages {
        opacity:1;
        -webkit-transition: opacity 3s 0s ease, all 0s 0s ease;
        -moz-transition: opacity 3s 0s ease, all 0s 0s ease;
        -o-transition: opacity 3s 0s ease, all 0s 0s ease;
        transition: opacity 3s 0s ease, all 0s 0s ease;
      }  
    } 
  }
  &.intro-unscrolled {
    #fixedTitle {
      opacity:1;
      -webkit-transition: opacity 1s 0s ease, all 2s 0s ease;
      -moz-transition: opacity 1s 0s ease, all 2s 0s ease;
      -o-transition: opacity 1s 0s ease, all 2s 0s ease;
      transition: opacity 1s 0s ease, all 2s 0s ease;
    }
   // @media screen and (min-width:$medium){
      @media (orientation: landscape) {
        .sub-hero-wrapper .nav-pages {
        opacity:0;
        -webkit-transition: opacity 1s 0s ease, all 2s 0s ease;
        -moz-transition: opacity 1s 0s ease, all 2s 0s ease;
        -o-transition: opacity 1s 0s ease, all 2s 0s ease;
        transition: opacity 1s 0s ease, all 2s 0s ease;
      }
      .subheading-text {
        opacity:0;
        -webkit-transition: opacity 3s 0s ease, all 2s 0s ease;
        -moz-transition: opacity 3s 0s ease, all 2s 0s ease;
        -o-transition: opacity 3s 0s ease, all 2s 0s ease;
        transition: opacity 3s 0s ease, all 2s 0s ease;
      } 
    } 
  }
  @media screen and (max-width:$small) {
    .sub-hero-wrapper .subheading-text {
      .intro-title {padding:0 !important;}
      .descWrapper p {text-align: center;}
    }
  }  
}
  


.layout--home {
  .parallax-wrapper .parallax-1::before {
    background-image: url(/assets/images/illustration-01.png);
  }
  #fixedTitle {padding:0 15vw;}
  .sub-hero-wrapper {
    .subheading-text {
      padding:15vw 0;
      .intro-title {padding:0 10vw;}
      p {padding:0 15vw;}
      @media screen and (max-width:$small) {
        p {padding:0 5vw;}
      } 
    }
    &:after {
      content:''; background:url('/assets/images/lines-3.png') no-repeat;
      background-position:bottom right; position:absolute;
      width:100%; height:100%; background-size:100%; z-index:0;
    }
  }
}
.layout--how {
  .subheading-text {
    .intro-title {
      padding:0 5vw;
    }
  }  
}
.layout--about {
  #fixedTitle {padding:0 5vw; top:22vw;}
  .parallax-wrapper .parallax-1 {
    &::before {
      background-image: url('/assets/images/illustration-02.jpg');
      }
  }
  .subheading-text {
    background:url('/assets/images/logo-partners.png') no-repeat 50% 95%; background-size:90vw;
    @media screen and (max-width:$medium){
      background:url('/assets/images/logo-partners-mobile.png') no-repeat 50% 95%; background-size:90vw;
    }
    background-size:90%;
    .intro-title {padding:0;}
  }
  @media screen and (max-width: $medium) {
    #fixedTitle {padding:0;}
    .sub-hero-wrapper .subheading-text {
      padding-bottom:15rem;
      .intro-title {padding:0 !important;}
    }
    
  }
  @media screen and (min-width: $xlarge) {
    #fixedTitle {padding:0 11vw;}
    .subheading-text .intro-title {padding:0 6vw;}
  }
  @media screen and (min-width: $xxlarge) {
    #fixedTitle {padding:0 13vw;}
    .subheading-text .intro-title {padding:0 8vw;}
  }
}

 
.layout--about, .layout--how {  
  .subheading-text {
    @media screen and (min-width: 850px) {
      .descWrapper {columns: auto 2; column-gap: 4vw; text-align:left; margin-top:4vw;}
    }
    @media screen and (max-width: $medium) {p {text-align:left;}} 
  }
}

.parallax-wrapper {
  &:before {
    background: #222;
    position: fixed;
    top: 6rem;
    bottom: 0;
    width: 100%;
    //height: 100vh;
    z-index: -3;
    content: "";
  }
    .parallax { 
      width: 100vw; height:64.25vw;
      position: relative;       
      &::before {
        content: "";
        background-repeat: no-repeat; background-position: top left; background-size:100%; position:fixed;
        background-color:$charcoal; opacity:.8;
        top: 6rem; left: 0px; right: 0px; bottom: 0px; z-index: -2;
      }
    }  

  div.content-outer {
    width: 100%;
    background-color: white;
    perspective: 2px;
    -webkit-perspective: 2px;
  }

  /*.intro-image {position:relative;} //todo: delete?*/
 
}

.sub-hero-wrapper {
  position:relative; display:flex;
  /*min-height:100vh;*/ width:100%;
  video {
    width:100%; height:100%;
    object-fit: cover; position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: 0;
  }
  .subheading-text {
    position:relative; padding:15vw 5vw; text-align: center; z-index:1;
    color: $white; //line-height:1rem; 
    //@media screen and (min-width:$medium){opacity:0; } 
    @media (orientation: landscape) {opacity:0;}
    
    .intro-title {
      position: unset; top: unset; left: unset; width: unset; margin-bottom:3rem;
    }
    p {
      //@include fluid-type($min-vw, $max-vw, 16px, 38px);
       line-height:normal; //line-height:2.5rem;
    }
  }      
}


.layout--home, .layout--about, .layout--how {

  /*portrait styles - large and small screens */
  @media (orientation: portrait) {
    #fixedTitle {display:none;}
    .sub-hero-wrapper {
      min-height:60vh;
      .nav-pages {display:flex; opacity:1;}
    }
    .intro-2 .intro-title {padding:0 5vw 3rem;}
  }

  /* portrait styles - small screens only */
  @media screen and (max-width:$medium){
    .intro-title {top:8rem;}
    .parallax-wrapper {
      &::before {top:4rem;}
      &::before, .parallax, .parallax:before {min-height:unset;}      
      .parallax::before {background-size:100%; top:4rem;}
    }
    #fixedTitle {display:none;}
    .sub-hero-wrapper {
      .nav-pages {display:none;}
      .subheading-text {
        .intro-title {padding: 0 5vw;}
      }
    }
  }
} 
@media screen and (max-width:$medium){
  .layout--home {
    .parallax::before {
      background-image: url('/assets/images/illustration-01-mobile.png');
    }  
  }
}
@media screen and (max-width:$medium){
  .layout--how {
    .subheading-text {
      padding: 8rem 5vw; 
    }
  }
}
@media screen and (max-width:$medium){
  .layout--about {
    .parallax::before {
      background-image: url('/assets/images/illustration-02-mobile.png');
    }  
  }
}