/* ==========================================================================
   Layout
   ========================================================================== */

.nav-pages {
  position:absolute; z-index:1; width:100%; top:6vw; display:flex; justify-content:center; 
  @media screen and (min-width:$medium){opacity:0;}
  ul {
    list-style: none; display:flex; padding:0;
    li {
      background:$white; padding:.25rem .75rem; border-radius:$border-radius; color:$text-color; margin-left:2vw;
      @media screen and (min-width:$large){
        padding:.4rem 1rem; 
      }
      a {
        color:$text-color; text-decoration:none; /*font-weight:600; font-size:1.5rem;*/
        @include fluid-type($min-vw, $max-vw, 16px, 24px);
      }
      &.active a {color:$green; pointer-events: none;}
      &:first-child {margin-left:0;}
      &:hover {color:$green;}
    }
  } 
}  

.canvas {
  position: relative; width: 100%;
  /*overflow: hidden; height:100%;*/
}

.wrapper {
  position: relative;
  width: 100%; height: 100%; min-height: 100vh;
  //transform: translateX(0);
  //transition: $global-transition;
  background-color: $background-color;
  z-index: 100;
  -webkit-backface-visibility: hidden; backface-visibility: hidden;
}

.inner {
   padding:5vw; margin:0px auto;
}

main {
  section {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}