.section-header-white {
    text-align:center;
    color:$white;
    margin-bottom:4vw;
    &.large {
        @include fluid-type($min-vw, $max-vw, 50px, 80px);
    }
}
  
.short-2col {
  display:flex; justify-content:center; align-content:center;
  width:100%; background:white;
  @media screen and (max-width: $medium) {
    h3 span {display:block; line-height:normal;}
  } 
  .columns-2 {
    @media screen and (min-width: $medium) {
      columns: auto 2; column-gap: 4vw; text-align:left;
    }     
    p { margin-bottom:0;}
  }
}

.intro-2 {
    position:relative; display:flex; flex-direction:column; justify-content:center;
    width:100%;
    &::before {background: #222; position:absolute; top: 0; bottom: 0; width: 100%; height: 100%; z-index: -2; content: "";}
    .inner {
      padding:15vw 5vw;
        &::before {
            content: "";
            background-image: url(/assets/images/illustration-01.jpg); 
            background-repeat: no-repeat; background-position: right bottom; background-size: 150%;
            position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px;
            z-index: -1; opacity:.8;
            @media screen and (max-width:$small) {background-image: url(/assets/images/illustration-01-mobile.jpg);}
        }
        .sub-intro-text {display:flex; flex-direction:column;}
        .intro-title {
          position:relative; left: unset; right: unset; top: unset; margin-left: unset; margin:0px auto; text-shadow: 5px 2px 30px $blue; line-height:normal; padding:0 !important; 
          span {display:block;}
        } 
        .btn {margin:0px auto;}
    }
    @media screen and (min-width:$large) {min-height:60vh;}
} 

.features {
  position:relative; display:flex; flex-direction:column; justify-content:center; width:100%; background:white;
  ul {
    list-style:none; display:flex; justify-content:space-between; padding:0; margin:0rem 0 0;
    li {width:31%;}
    h5 {
      padding:0;
      span {display:block;}
    }
    @media screen and (max-width:$medium){
      flex-direction:column;
      li {
        width:100%; margin:0 0 5vw 0;
        &:last-child {margin-bottom:0;}
      }
      h5 {
        text-align:left; margin-bottom:1rem;
        span {display:unset;}
      }
    }
    @media screen and (max-width:$small){
      h5 {font-size:20px;}
    }
    @media screen and (max-width:$xsmall){
      h5 {font-size:18px;}
    }
  }
}

  
.quoteSection {
  background-repeat:no-repeat; background-position:bottom left; background-size:contain; background-color:$charcoal;
  width:100%; min-height:90vh;  
  @media (orientation: portrait) {min-height: 65vw;}
  .inner {display:flex; flex-direction:column; justify-content:center;}
  .innerQ {
    display:flex; min-height:90vh; width:90vw;
    @media (orientation: portrait) {min-height:unset;}
    .quoteWrapper {
      color:$green; align-self:center; width:60%; 
      h3 {
          font-family:$second-font-family; text-align:unset; padding:0;
          @include fluid-type($min-vw, $max-vw, 17px, 46px);
      }
    }
    .byline {
      margin-top:3vw;
      @include fluid-type($min-vw, $max-vw, 16px, 28px);
    }
  }
  &.rightQuote {
    .innerQ {justify-content:right; text-align:right;}
    .quoteWrapper {margin-left:40%;}
  }
  &.leftQuote {
    .innerQ {justify-content:left; text-align:left;}
    .quoteWrapper {margin-right:40%;}
  }
  &.braxton {
    background-image:url('/assets/images/photo-braxton.jpg');
  }
  &.harry {
    background-image:url('/assets/images/photo-harry.jpg');
    background-position:bottom right;
  }
  &.gavin {
    background-image:url('/assets/images/photo-gavin.png');
    @media screen and (max-width:$large){background-position:bottom center;}
  }
  &.withIntro {
    background-size:auto 50%; display: flex; flex-direction: column; min-height:80vh;
    @media (orientation: portrait) {background-size:contain;}
    .quoteIntro {
      //padding-bottom:3rem;
      @media screen and (orientation:portrait) {padding-bottom:5rem;}
      h3, p {color:$white; padding:0;}
      h3 {
        position:relative; padding:0 0 0 33%; text-align:left; margin-bottom:3rem;
        &:before {
          content:'';
          background: url('/assets/images/logo-dsnp.png') no-repeat; background-position:center;background-size: 80%;
          position: absolute; left: 0; top: .35rem; width: 25%; height: auto;
          display: block; border:1px solid #fff; padding:3rem 0;
          @media screen and (max-width:$medium){padding:2.5rem 0;}
          @media screen and (max-width:$small) {padding:2rem 0;}
        }
        @media screen and (max-width:$small) {
          padding:0 33% 0 0;
          &:before {left:unset; right:0;}
        }
        @media screen and (max-width:$xsmall) {padding:0 31% 0 0;}
      }
    }
  }
}
   
.collab {
  color:$charcoal;
  h3 {
    position:relative; padding:0 32% 0 0; text-align:left; 
    &:before {
      content:'';
      background: url('/assets/images/logo-polkadot.png') no-repeat; position: absolute;
      right: 0; top: -.4rem; width: 28%; height: 100%;
      min-height: 100px; min-width: 150px;
      background-size: 100%; display: block;
    }
    @media screen and (max-width:$small) {
      padding: 5rem 0 0 0;
      &:before {right:unset; left:0;}
    }
  }
  ul {
    list-style:none; display:flex; justify-content:start; padding:0; margin:3rem 0 0;
    li {width:46%;}
    li:first-child {margin-right:3rem;}
    a {width:100%; padding-left:0; padding-right:0;}
    @media screen and (max-width:600px){
      flex-direction:column;
      li {width:100%; margin:0 0 2rem 0;}

    }
  }
}

.contentBlock-light {
  background:$white;
  h2, h3, h4, h5, p {text-align:left; padding:0;}
}

.contentBlock-dark {
  background-color:$charcoal;
  color:$white;
  h2, h3, h4, h5, p {text-align:left; padding:0;}
  .markmap {
    .markmap-link{fill:none}
    .markmap-node > circle{cursor:pointer;}
    .markmap-foreign{display:inline-block;}
    .markmap-foreign a{color:#0097e6;}
    .markmap-foreign a:hover{color:#00a8ff;}
    .markmap-foreign code{background-color:#f0f0f0;border-radius:2px;color:#555;}
    .stack5 {color:rgb(255, 127, 14);}
    .stack5 line, path.stack5  {stroke:rgb(255, 127, 14);}
    .stack4 {color:rgb(227, 119, 194);}
    .stack4 line, path.stack4  {stroke:rgb(227, 119, 194);}
    .stack1 {color:rgb(41, 253, 71);}
    .stack1 line, path.stack1  {stroke:rgb(41, 253, 71);}
    .stack3 {color:rgb(98, 96, 198);}
    .stack3 line, path.stack3  {stroke:rgb(98, 96, 198);}
    .stack2 {color:rgb(46, 181, 157);}
    .stack2 line, path.stack2  {stroke:rgb(46, 181, 157);}
    div{padding-bottom:0.12em!important} 
    div span {font-size:.83em; font-weight:bold; display:block;}
    a {text-decoration:none} 
    foreignObject {overflow:visible} strong{color:#333; font-size:0.98em} 
    .hide, .hide *{color:transparent!important} 
    .hide {background-color:#FFFFEC} 
    .hide img {opacity:0} 
    img[alt=h-25]{height:25px} 
    &.largeView {
      @media screen and (max-width:$small) {
        display:none;
      }
      @media screen and (min-width:$large) {
        div span {font-size:.73em; font-weight:bold; display:block;}
      }
    }
    &.smallView {
      display:none;
      @media screen and (max-width:$small) {
        display:block;
        div span {
          font-size:1.32em;
          line-height:1.2em;
        }
      }
      }
      
  }
}
  
.chart {
  list-style:none; margin:1.5rem 0 3rem 0;  border-radius: $border-radius;
  display: grid; grid-template-columns: 44vw 44vw; grid-template-rows: 1fr; padding:2vw; background-size: cover;
  li {
    border-radius:$border-radius; border: 2px solid #29FD47; 
    &.heading {
      border:transparent; padding:1.5rem 1.75rem 0.4rem;  background:none !important; 
      h3 { 
        margin:0 0 1rem; color:$green; text-align:center;
        span {white-space:nowrap;}
      }
    }
    //&:nth-child(1) h5 {color:#999;}
    &:nth-child(1) {grid-column-start: span 2; }
    &:nth-child(2) {border-radius: 1.5rem 0 0 0;}
    &:nth-child(3) {border-radius: 0 1.5rem 0 0; }
    &:nth-child(4) {border-radius: 0 0 0 1.5rem;}
    &:nth-child(5) {border-radius: 0 0 1.5rem 0;}
    &:nth-child(odd) {background: #F9F9FF; color: #4473ec; border-left:none; }
    &:nth-child(even) {background:#f1f1f1; color:#aaa; border-right:none; }

    div {
      padding:1.75rem;
      h5 {margin-bottom:1rem; font-family:$base-font-family-bold;}
    }
    p {margin-bottom:0;}
  }
  @media screen and (max-width:$small) {
    margin:1rem 0 2rem 0; grid-template-columns: 50% 50%; padding:0; 
    li {
      &.heading {padding:.5rem 0 .25rem 1rem; line-height:1.25rem;}
      div {padding:1rem;}
      h5 {font-size:16px}
    }
  }
  @media screen and (max-width:$xsmall) {
    li { 
      &.heading {padding-left:0;}
      div {padding:.75rem;}
      h5 {font-size:15px;}
      div h5 {min-height:45px;}
    }
  }
} 
    
