.section-header-white {
    text-align:center;
    color:$white;
    margin-bottom:4vw;
    &.large {
        @include fluid-type($min-vw, $max-vw, 50px, 80px);
    }
}
  
  
.short-2col {
  display:flex; justify-content:center; align-content:center;
  width:100%; background:white;
  .columns-2 {
    @media screen and (min-width: $medium) {
      columns: auto 2; column-gap: 4vw; text-align:left;
    }  
    p { margin-bottom:0;}
  }
}

.intro-2 {
    position:relative; display:flex; flex-direction:column; justify-content:center;
    width:100%; min-height:40vh;
    &::before {background: #222; position:absolute; top: 0; bottom: 0; width: 100%; height: 100%; z-index: -2; content: "";}
    .inner {
        &::before {
            content: "";
            background: url(/assets/images/illustration-01.png);
            background-repeat: no-repeat; background-position: right bottom; background-size: 150%;
            position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px;
            z-index: -1; opacity:.8;
        }
        .sub-intro-text {display:flex; flex-direction:column;}
        .intro-title {position:relative; left: unset; right: unset; top: unset; margin-left: unset; margin:0px auto; text-shadow: 5px 2px 30px $blue;} 
        .btn {margin:0px auto;}
    }
    @media screen and (min-width:$large) {min-height:60vh;}
} 

  
.quoteSection {
  background-repeat:no-repeat; background-position:bottom left; background-size:contain; background-color:$charcoal;
  width:100%; min-height:90vh;  
  @media (orientation: portrait) {min-height:50vh;}
  .inner {display:flex; flex-direction:column; justify-content:center;}
  .innerQ {
    display:flex; min-height:90vh; width:90vw;
    @media (orientation: portrait) {min-height:unset;}
    .quoteWrapper {
      color:$green; align-self:center; width:60%; 
      h3 {
          font-family:$second-font-family; text-align:unset; padding:0;
          @include fluid-type($min-vw, $max-vw, 17px, 46px);
      }
    }
    .byline {
      margin-top:3vw;
      @include fluid-type($min-vw, $max-vw, 16px, 28px);
    }
  }
  &.rightQuote {
    .innerQ {justify-content:right; text-align:right;}
    .quoteWrapper {margin-left:40%;}
  }
  &.leftQuote {
    .innerQ {justify-content:left; text-align:left;}
    .quoteWrapper {margin-right:40%;}
  }
  &.braxton {
    background-image:url('/assets/images/photo-braxton.png');
  }
  &.harry {
    background-image:url('/assets/images/photo-harry.jpg');
    background-position:bottom right;
  }
  &.gavin {
    background-image:url('/assets/images/photo-gavin.png');
    @media screen and (max-width:$large){background-position:bottom center;}
  }
  &.withIntro {
    background-size:auto 50%; display: flex; flex-direction: column; min-height:80vh;
    @media (orientation: portrait) {background-size:contain;}
    .quoteIntro {
      //padding-bottom:3rem;
      @media screen and (orientation:portrait) {padding-bottom:5rem;}
      h3, p {color:$white; padding:0;}
      h3 {
        position:relative; padding:0 0 0 33%; text-align:left; margin-bottom:3rem;
        &:before {
          content:'';
          background: url('/assets/images/logo-dsnp.png') no-repeat; background-position:center;background-size: 80%;
          position: absolute; left: 0; top: .35rem; width: 25%; height: auto;
          display: block; border:1px solid #fff; padding:3rem 0;
          @media screen and (max-width:$medium){padding:2.5rem 0;}
          @media screen and (max-width:$small) {padding:2rem 0;}
        }
        @media screen and (max-width:$small) {
          padding:0 33% 0 0;
          &:before {left:unset; right:0;}
        }
        @media screen and (max-width:$xsmall) {padding:0 31% 0 0;}
      }
    }
  }
}
   
.collab {
  color:$charcoal;
  h3 {
    position:relative; padding:0 32% 0 0; text-align:left; 
    &:before {
      content:'';
      background: url('/assets/images/logo-polkadot.png') no-repeat; position: absolute;
      right: 0; top: -.4rem; width: 28%; height: 100%;
      min-height: 100px; min-width: 150px;
      background-size: 100%; display: block;
    }
    @media screen and (max-width:$small) {
      padding: 5rem 0 0 0;
      &:before {right:unset; left:0;}
    }
  }
  ul {
    list-style:none; display:flex; justify-content:start; padding:0; margin:3rem 0 0;
    li {width:46%;}
    li:first-child {margin-right:3rem;}
    a {width:100%; padding-left:0; padding-right:0;}
    @media screen and (max-width:600px){
      flex-direction:column;
      li {width:100%; margin:0 0 2rem 0;}

    }
  }
}


.timeline {
  background: url('/assets/images/bg_gradient.png') no-repeat; background-size:cover;
  position:relative;
  width:100vw; 
  height:80vh; @media (orientation: portrait) {height:60vh;}
  .inner {
    display:flex; justify-content:space-between; padding:5vw; max-width:unset; 
    .years {
      display:flex; flex-direction:row; flex-direction:column;
      list-style:none; width:20%; padding:0;
      li {
        position:relative; margin-bottom:3vw;
        display:flex; justify-content:left; align-content:flex-start;
        .year {
          color:$white; font-family:$second-font-family; text-decoration:none;
          @include fluid-type($min-vw, $max-vw, 20px, 30px);} 
        &.active .year { @include fluid-type($min-vw, $max-vw, 40px, 72px);}
      }
    }
    .historyList {
      padding:0; margin-top:5vw; z-index:1;list-style-type:none; overflow-y:scroll;
       /*width:80%;*/  height:55vh; @media (orientation: portrait) {height:45vh;}  
      scroll-behavior: smooth; @media screen and (prefers-reduced-motion: reduce) { scroll-behavior: auto; } 
      h3 { color:$white; font-family:$second-font-family; text-decoration:none; text-align:left; padding-left:0; margin-bottom:1rem;}
      li {
        color:$white; margin-bottom:2vw; 
        ul {
          list-style:disc; margin-bottom:5vw; width:90%; 
          li {
            margin-bottom:1rem;
            //@include fluid-type($min-vw, $max-vw, 18px, 40px);
            p {margin-bottom:0;}
            &:last-child {margin-bottom:0; padding-bottom:4vw; border-bottom:1px solid $green;}
          }
        }
        &:last-child ul li {border:none;}
      }
      /* ===== Scrollbar CSS ===== */
      /* Firefox */
    
      scrollbar-width: auto; scrollbar-color: #29fd47 #ffffff;
       /* Chrome, Edge, and Safari */
       &::-webkit-scrollbar {
        width: 8px; z-index:1000; position:fixed;
      }

      &::-webkit-scrollbar-track {
        background: #ffffff;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #29fd47;
        border-radius: $border-radius;
        border: 1px solid #ffffff;
      }
    }
    /*@media screen and (max-width:$medium) {
      .inner {flex-direction:column;}
      .years {
        display:flex; flex-direction:row; flex-flow:row-reverse; justify-content:space-between; width:100%;
        li {align-self: center;}
      }
      .historyList {width:100%; padding:0;}
    }*/  
    /*&::after {
      content:''; background: url('/assets/images/lines-1.png') no-repeat; background-size:100%;
      position:absolute; bottom:0; right:0; width:100%; height:100%; z-index:0; background-position:bottom;
    } */     
  }
}  
  
.team {
  position: relative; min-height:100vh; display:flex; flex-direction:column; 
  h3 {text-align:center; color:$white; margin-bottom:3rem;}
  .inner {max-width:unset; padding:5vw; width:100vw;}
  &:before {
    background-image: url('/assets/images/illustration-02.jpg'); background-repeat: no-repeat;
    background-position: bottom right; background-size: cover; position: absolute;
    top: 0; left: 0px; right: 0px; bottom: 0px; min-height:100vh;
    z-index: -1;
    content: "";
    @media screen and (max-width:$medium){
      background-image: url('/assets/images/illustration-02-mobile.jpg');
    }
  }
  ul {
    list-style:none; margin:0; padding:0; 
    display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); grid-gap: 2rem;
    justify-content: space-between; 
    //@media screen and (max-width:$medium) {grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));}
    @media screen and (min-width:$large) {grid-template-columns: repeat(5, 1fr);}
    li {
      /*width:16vw; margin-bottom:3rem; min-width:280px;*/
      background:$white; position:relative; text-align:center;
      img {width:100%; margin-bottom:1rem;}
      p {margin-bottom:1rem;}
      .linkedIn {
        background: url('/assets/images/icon-linkedin.svg') no-repeat;
        background-position:center;
        background-size:2rem;
        display:block; color:$green; height:2rem; margin-bottom:1rem;
      }
      .twitter {
        background: url('/assets/images/icon-tw.svg') no-repeat;
        background-position:center;
        background-size:2rem;
        display:block; color:$green; height:2rem; margin-bottom:1rem;
      }
      ul {
        display:flex; justify-content:center;
        li {display:inline; } 
      }
    }
  }
}
.contentBlock-light {
  background:$white;
  h2, h3, h4, h5, p {text-align:left; padding:0;}
  //text-align:center;
}
  
.chart {
  list-style:none; margin:1.5rem 0 3rem 0;  /*border: 1px solid #29FD47;*/ border-radius: $border-radius;
  display: grid; grid-template-columns: 44vw 44vw; grid-template-rows: 1fr; /*grid-gap: 2vw;*/ padding:2vw; background-size: cover;
  li {
    border-radius:$border-radius; border: 2px solid #29FD47; 
    &.heading {
      border:transparent; padding:1.5rem 1.75rem .4rem;  background:none !important; 
      h3 { 
        margin:0 0 1rem; color:$green; text-align:center;
      }
    }
    //&:nth-child(1) h5 {color:#999;}
    &:nth-child(1) {grid-column-start: span 2; }
    &:nth-child(2) {border-radius: 1.5rem 0 0 0;}
    &:nth-child(3) {border-radius: 0 1.5rem 0 0; }
    &:nth-child(4) {border-radius: 0 0 0 1.5rem;}
    &:nth-child(5) {border-radius: 0 0 1.5rem 0;}
    &:nth-child(odd) {background: #F9F9FF; color: #4473ec; border-left:none; }
    &:nth-child(even) {background:#f1f1f1; color:#aaa; border-right:none; }

    div {
      padding:1.75rem;
      h5 {margin-bottom:1rem; font-family:$base-font-family-bold;}
    }
    p {margin-bottom:0;}
  }
  @media screen and (max-width:$small) {
    margin:1rem 0 2rem 0; grid-template-columns: 50% 50%; padding:0; 
    li {
      &.heading {padding:.5rem 0 .25rem 1rem; line-height:1.25rem;}
      div {padding:1rem;}
      h5 {font-size:16px}
    }
  }
  @media screen and (max-width:$xsmall) {
    li { 
      &.heading {padding-left:.75rem;}
      div {padding:.75rem;}
      h5 {font-size:15px;}
      div h5 {min-height:45px;}
    }
  }
} 
    
