/* klaro */
.klaro {font-family:$base-font-family !important;}
.klaro .cookie-modal .cm-modal, .klaro .cookie-notice  { background-color:#fff !important; border:1px solid #00FF47 !important; border-radius:10px !important;}   
.klaro .cookie-modal .cm-modal {color:#000 !important;}
.klaro .cookie-notice { 
    bottom:0 !important; right:0 !important; //max-width:36vw !important;
    @media screen and (min-width:$large)  {max-width:31vw !important;}
    @media screen and (min-width:960px) and (max-width:$large) {max-width:37vw !important;}
    @media screen and (min-width:$medium) and (max-width:960px){max-width:45vw !important;}
    @media screen and (min-width:$small) and (max-width:$medium){max-width:55vw !important;}

    //@media screen and (min-width:$medium) {max-width:40vw !important;}
    //@media screen and (min-width:$large) {max-width:40vw !important;}
}
.klaro {
    .cn-ok {display:flex !important; justify-content:space-around !important;}
    .cookie-notice {
        .cn-body p {margin-bottom:.15rem !important;}
        p { color:$text-color !important;  @include fluid-type($min-vw, $max-vw, 13px, 16px); }
    
    }
    .cookie-notice, .cookie-modal {
        a {color:$green !important; vertical-align:top !important;}
        .cm-btn.cm-btn-success {
            background: #00AA3E; border: 1px solid #00AA3E;
            background:#4B64FF !important; color:#00FF47 !important; border: 1px solid white;
        }
        .cm-btn { text-transform:none !important; width:48% !important; line-height:initial; margin-right:0 !important; }
    }
} 

.klaro .cookie-notice .cm-btn.cm-btn-success:hover, 
.klaro .cookie-modal .cm-btn.cm-btn-success:hover,
.klaro .cookie-modal .cm-btn.cm-btn-success.cm-btn-info.cm-btn-accept:hover {background:#00FF47 !important; color:#4B64FF !important; border:1px solid $green !important;}
.klaro .cookie-modal .cm-btn.cm-btn-success.cm-btn-info.cm-btn-accept {background:#fff !important; border:1px solid #4B64FF; color:#4B64FF !important; margin-left:1rem;}
.klaro .cm-btn.cn-decline {background:#fff !important; border:1px solid #999 !important; color:#666 !important;}
.klaro .cm-btn.cn-decline:hover {background:#999 !important; color:#fff !important;}
.klaro .cookie-modal p, .klaro .cookie-modal h1, .klaro .cookie-modal h2, .klaro .cookie-modal ul, 
.klaro .cookie-modal li, .klaro .cookie-notice p, .klaro .cookie-notice h1, .klaro .cookie-notice h2, 
.klaro .cookie-notice ul, .klaro .cookie-notice li {color:$blue !important;}
.klaro .cookie-modal .cm-app-input:checked+.cm-app-label .slider {background:#4B64FF !important;}
.klaro .cookie-modal .cm-modal .cm-header, .klaro .cookie-modal .cm-modal .cm-footer {border-color:#eee !important;}


@media (max-width:500px) {
    .klaro .cookie-modal .cm-btn {width:11.7rem !important; }
}
/*@media (max-width:399px) {*/
    .klaro .cookie-modal .cm-btn.cm-btn-success.cm-btn-accept-all {width:100% !important; display:block !important; margin-bottom:1rem;  border:1px solid $blue;}
    .klaro .cookie-modal .cm-btn.cm-btn-success.cm-btn-accept {margin-left:0 !important;} 
    .klaro .cookie-modal .cm-btn.cm-btn-success.cm-btn-accept, 
    .klaro .cookie-modal .cm-btn.cm-btn-decline {width:48% !important;}

/*}*/
@media (max-width:340px) {
    .klaro .cookie-modal .cm-btn, .klaro .cookie-notice .cm-btn { width: 48% !important; }
    .klaro .cookie-modal .cm-btn {width:13rem !important;}
   /* .klaro .cookie-modal .cm-btn.cm-btn-success.cm-btn-accept, 
    .klaro .cookie-modal .cm-btn.cm-btn-decline {font-size:16px !important; min-height:60px !important;}*/
}

