@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500');
@font-face {
  font-family: 'Newake';
  src: url('../style/indieground-newakefont-web/Newake-Font-Regular.eot');
  src:
    url('../style/indieground-newakefont-web/Newake-Font-Regular.woff') format('woff'),
    url('../style/indieground-newakefont-web/Newake-Font-Regular.otf') format('opentype'),
    url('../style/indieground-newakefont-web/Newake-Font-Regular.svg#filename') format('svg');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Typeography */
  .title-16 {
    @apply font-title text-[16px] leading-[1] tracking-wider md:text-[16px] lg:text-[16px];
  }
  .title-50 {
    @apply font-title text-[40px] leading-[1] tracking-wider md:text-[44px] lg:text-[44px];
  }
  .title-75 {
    @apply font-title text-[40px] leading-[1] tracking-wide md:text-[55px] lg:text-[75px];
  }
  .title-100 {
    @apply font-title text-[55px] leading-[1] tracking-wide md:text-[75px] lg:text-[100px];
  }
  .subtitle {
    @apply text-lg font-semibold md:text-lg lg:text-xl;
  }
  .body {
    @apply text-xs md:text-sm lg:text-normal;
  }

  /* Layout */
  .freq-container {
    @apply mx-auto box-border w-full px-[10px] sm:px-[30px] md:px-[40px] lg:max-w-[100vw] lg:px-[80px] xl:max-w-page;
  }

  .paragraph-spacing-right {
    @apply sm:pl-[70px] md:pl-[140px] lg:pl-[140px] lg:pr-0;
  }

  .paragraph-spacing-left {
    @apply sm:pr-[100px] md:pr-[140px] lg:pl-0 lg:pr-[140px];
  }

  .svg-100 > svg {
    @apply w-full;
  }

  @keyframes slide-from-right {
    0% {
      opacity: 0;
      transform: translateX(10%);
      -webkit-transform: translateX(10%);
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  .slide-from-right {
    animation: slide-from-right 1s ease-out;
    -webkit-animation: slide-from-right 1s ease-out;
  }

  .scroll-target {
    scroll-margin-top: 90px;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply flex flex-col items-center bg-white text-normal text-black;
  }

  button {
    @apply select-none;
  }

  ::placeholder {
    @apply text-gray2 !important;
  }
}
