@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Typeography */
  .title-75 {
    @apply text-75;
  }
  .title-100 {
    @apply text-100;
  }
  .subtitle {
    @apply text-xl font-semibold;
  }

  /* Layout */
  .freq-container {
    @apply w-full sm:px-[16px] md:px-[40px] lg:px-[80px];
  }

  /* Underline on hover animation */
  .underline-on-hover {
    @apply relative block cursor-pointer overflow-hidden px-0 py-1;
  }

  .underline-on-hover::after {
    @apply absolute bottom-0 left-0 h-[0.1em] w-full bg-navy opacity-0 transition-opacity content-[''];
    transition:
      opacity 300ms,
      transform 300ms;
    transform: translate3d(-100%, 0, 0);
  }

  .underline-on-hover:hover::after,
  .underline-on-hover:focus::after {
    @apply opacity-100;
    transform: translate3d(0, 0, 0);
  }
}

@layer base {
  body {
    @apply flex flex-col items-center bg-cream text-base text-black;
  }

  button {
    @apply select-none;
  }

  ::placeholder {
    @apply text-disabled !important;
  }
}
