---
layout: default
---

{% include page-intro.html %}



<main id="main" class="page-content" aria-label="Content"> 
  <section class="quoteSection rightQuote braxton">
    <div class="inner">
      <div class="innerQ">
        <div class="quoteWrapper">
          <h3>“Once individuals control their identities and data, you open a
            completely new landscape for use cases and business models.”</h3>
          <p class="byline">-Braxton Woodham, Co-Creator</p>
        </div>
      </div>
    </div>
  </section> 
  <section class="timeline">
     <div class="inner">
        <ul class="years">
            <li class="active"><div class="year">2022</div></li>
            <li><div class="year">2021</div></li>
            <li><div class="year">2020</div></li>
            <li><div class="year">2019</div></li>
        </ul>
        <ul class="historyList">
          <li id="history-2022">
            <ul>
              <li>The technology teams behind <a href="" target="_blank">DSNP</a> and <a href="" target="_blank">Polkadot</a> enter into a formal agreement to collaborate on the first implementation of DSNP</li>
              <li>Frequency is revealed at Polkadot Decoded in New York and Buenos Aires as a project to focus on bringing a new Layer 1 solution to market XXXX</li>
              <li>(chain running on rococco testnet talk to harry)</li>
              <li>Unfinished network expands to XX partners</li>
              <li>Unfinished Live expands to a four day festival with 5 stages, over 150 speakers, and 75 sessions that over 2,000 people attend</li>
            </ul>
          </li>
          <li id="history-2021">
            <ul>
              <li>Project Liberty, an initiative to advance work on a more equitable web, is launched with $100 million (gift or investment) BRIN REVIEW</li>
              <li>Technology team releases spec for DSNP and smart contracts on the Ethereum Ropsten and Rinkeby testnets</li>
              <li>Team begins evaluation of over 30 public blockchains to identify path to production-grade implementation of DSNP
              <li>McCourt Institute is founded as part of Project Liberty with Georgetown University and Sciences Po as founding partners and a focus on strengthening digital governance</li>
              <li>Unfinished Live evolves into an immersive in-person three day festival that explores the collision of technology, art, and impact </li>
            </ul>
          </li>
          <li id="history-2020">
            <ul>
              <li>Technology team is expanded XXXXXto bring together deep blockchain expertise and experience in building scaled social networks</li>
              <li>DSNP whitepaper is published, and spec work begins on protocol</li>
              <li>Unfinished convenes diverse voices for the first Unfinished Live event, which takes place virtually and brings together technologists, artists, journalists, advocates, and boundary-breakers to advance the conversation around system-level change in tech</li>
              <li>Built full end to end prototype of protocol with web and mobile applications interacting with social graph via Ethtereum HARRY </li>
            </ul>
          </li>
          <li id="history-2019">
              <ul>
                <li>Unfinished funds Decentralized Social Networking Protocol (DSNP) development and announces first XX network partners, including Aspen Institute, Ford Foundation, and Ashoka</li>
                <li>Core technology (team/creators) founded</li>
                <li>Development DSNP begin/sworks beginsXXXXXX to enable a universally accessible, shared social graph that functions as a public utility</li>
              </ul>
          </li>            
        </ul>
     </div> 
  </section>
  <section class="quoteSection leftQuote">
    <div class="inner">
      <div class="innerQ">
        <div class="quoteWrapper">
          <h3>“There's so much innovation potential there—we're still the early 90s equivalent of what we can do with social networking.”</h3>
          <p class="byline">-Harry Evans, Co-Creator</p>
        </div>
      </div>      
    </div>

  </section> 
  <section class="team">
      <div class="inner"> 
      <h3>Frequency Team</h3>   
      <ul>
          <li>
            <img src="/assets/images/placeholder-person.png">
              <p>Firstname Lastname</p>
              <a class="linkedIn" href="#"></a>
          </li>
          <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Firstname Lastname</p>
            <a class="linkedIn" href="#"></a>
         </li>
         <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Firstname Lastname</p>
            <a class="linkedIn" href="#"></a>
          </li>
          <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Firstname Lastname</p>
            <a class="linkedIn" href="#"></a>
          </li>
          <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Firstname Lastname</p>
            <a class="linkedIn" href="#"></a>
          </li>
          <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Firstname Lastname</p>
            <a class="linkedIn" href="#"></a>
          </li>
          <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Firstname Lastname</p>
            <a class="linkedIn" href="#"></a>
          </li>
          <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Firstname Lastname</p>
            <a class="linkedIn" href="#"></a>
          </li>
          <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Firstname Lastname</p>
            <a class="linkedIn" href="#"></a>
          </li>
          <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Firstname Lastname</p>
            <a class="linkedIn" href="#"></a>
          </li>
        </ul>
     </div>
  </section> 
</main>
