---
layout: default
---

{% include page-intro.html %}



<main id="main" class="page-content" aria-label="Content"> 
  <section class="quoteSection rightQuote braxton">
    <div class="inner">
      <div class="innerQ">
        <div class="quoteWrapper">
          <h3>“Once individuals control their identities and data, you open a
            completely new landscape for use cases and business models.”</h3>
          <p class="byline">-Braxton Woodham, Co-Creator</p>
        </div>
      </div>
    </div>
  </section> 
  <section class="timeline">
     <div class="inner">
        <ul class="years">
            <li class="active"><a href="#history-2022" class="year">2022</a></li>
            <li><a data-goto="#history-2021" class="year">2021</a></li>
            <li><a href="#history-2020" class="year">2020</a></li>
            <li><a href="#history-2019" class="year">2019</a></li>
        </ul>
        <a name="history-2022"></a>
        <ul class="historyList">
          <li>
            <ul>
              <li><p>The technology teams behind DSNP and Polkadot enter into a formal agreement to collaborate on the first implementation of DSNP</p></li>
              <li><p>Frequency is revealed at Polkadot Decoded in New York and Buenos Aires as a project to focus on bringing a new Layer 1 solution to market</p></li>
              <li><p>Frequency begins running on Polkadot Rococo testnet relay chain</p></li>
              <li><p>Unfinished network expands to over 40 partners</p></li>
              <li><p>Unfinished Live expands to a four day festival with 5 stages, over 150 speakers, and 75 sessions that over 2,000 people attend</p></li>
            </ul>
          </li><a data-id="history-2021"></a>
          <li>
            <ul>
              <li><p>Project Liberty, an initiative to advance work on a more equitable web, is launched with $100 million contribution</p></li>
              <li><p>Technology team releases spec for DSNP and smart contracts on the Ethereum Ropsten and Rinkeby testnets</p></li>
              <li><p>Evaluation of over 30 public blockchains to identify path to production-grade implementation of DSNP begins</p></li>
              <li><p>McCourt Institute is founded as part of Project Liberty with Georgetown University and Sciences Po as founding partners and a focus on strengthening digital governance</p></li>
              <li><p>Unfinished Live evolves into an immersive in-person three day festival that explores the collision of technology, art, and impact</p></li>
            </ul>
          </li><a name="history-2020"></a>
          <li>
            <ul>
              <li><p>Technology team expands, DSNP whitepaper is published, and spec work begins on protocol</p></li>
              <li><p>DSNP whitepaper is published, and spec work begins on protocol</p></li>
              <li><p>Unfinished announces first network partners, including Aspen Institute, Ford Foundation, and Ashoka, and convenes diverse voices for the first Unfinished Live event, which takes place virtually and brings together technologists, artists, journalists, advocates, and boundary-breakers to advance the conversation around system-level change in tech</p></li>
              <li><p>Full end to end prototype of DSNP is built, with web and mobile applications interacting with the social graph via Ethereum testnets</p></li>
            </ul>
          </li><a name="history-2019"></a>
          <li>
              <ul>
                <li><p>Unfinished funds development of the Decentralized Social Networking Protocol (DSNP)</p></li>
                <li><p>Founding team with deep experience in both blockchains and building scaled social networks is established</p></li>
                <li><p>Work begins on DSNP to enable a universally accessible, shared social graph that functions as a public utility</p></li>
              </ul>
          </li>            
        </ul>
     </div> 
  </section>
  <section class="quoteSection leftQuote">
    <div class="inner">
      <div class="innerQ">
        <div class="quoteWrapper">
          <h3>“There's so much innovation potential there—we're still the early 90s equivalent of what we can do with social networking.”</h3>
          <p class="byline">-Harry Evans, Co-Creator</p>
        </div>
      </div>      
    </div>

  </section> 
  <section class="team">
      <div class="inner"> 
      <h3>Frequency Team</h3>   
      <ul>
          <li>
            <img src="/assets/images/placeholder-person.png">
              <p>Braxton Woodham</p>
              <ul>
                <li><a class="linkedIn" href="https://www.linkedin.com/in/braxton-woodham-a1498b/" target="_blank"></a></li>
                <!--<li><a class="twitter" href="https://twitter.com/braxton" target="_blank"></a></li>-->
              </ul>
          </li>
          <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Harry Evans</p>
            <a class="linkedIn" href="#"></a>
         </li>
         <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Firstname Lastname</p>
            <a class="linkedIn" href="#"></a>
          </li>
          <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Firstname Lastname</p>
            <a class="linkedIn" href="#"></a>
          </li>
          <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Firstname Lastname</p>
            <a class="linkedIn" href="#"></a>
          </li>
          <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Firstname Lastname</p>
            <a class="linkedIn" href="#"></a>
          </li>
          <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Firstname Lastname</p>
            <a class="linkedIn" href="#"></a>
          </li>
          <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Firstname Lastname</p>
            <a class="linkedIn" href="#"></a>
          </li>
          <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Firstname Lastname</p>
            <a class="linkedIn" href="#"></a>
          </li>
          <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Firstname Lastname</p>
            <a class="linkedIn" href="#"></a>
          </li>
        </ul>
     </div>
  </section> 
</main>
