---
layout: default
---


<main id="main" class="page-content" aria-label="Content">
<section class="legalIntro" style="background:#f0f0f0;">
    <div class="inner">
        <div class="row">
            <h3>Frequency.xyz Cookies Policy</h3>
            <p class="subheading">Effective Date: June 29, 2022</p>
            <p>
              Welcome to Frequency.xyz.  This is the cookies policy (the “Cookies Policy”)  that applies to the Frequency.xyz website (the “Site”). This site is owned and 
              operated by Unfinished Labs, LLC and its affiliates (collectively, “Unfinished,” “we,” “us” or “our”). 
            </p>
            <p>
              This Cookies Policy describes the types of cookies we collect, how we use cookies, and which third parties use cookies on the Site.  This Cookies Policy also 
              describes how you can contact us or exercise your rights and choices with respect to cookies.
            </p>
            <p>
              We reserve the right to update or modify this Cookies Policy at any time in our sole discretion, including without limitation, in order to comply with applicable 
              law, and will post the effective date of any updates or modifications at the top of this Cookies Policy.
            </p>
            <p>
              Unfinished, a U.S. company incorporated under the laws of Delaware, with its address at 888 Seventh Avenue, 16th Floor, New York, NY 10106, is the controller of 
              personal information described in this Cookies Policy.
            </p>   
        </div>
    </div>
  </section>
  <section class="legalHeader">
    <div class="inner">
      <div class="row">
        <p>
          Click on one of the links below to go to the listed section:
        </p>
        <ul class="legalList legalTOC">    
            <li><p><a href="#toc1">What are Cookies?</a></p></li>
            <li><p><a href="#toc2">How Cookies Are Used On This Site</a></p></li>
            <li><p><a href="#toc3">How You Can Manage Your Cookies</a></p></li>
        </ul>
      </div>
    </div>    
  </section>        
  <div class="inner">
    <div class="row">            
      <ul class="legalList legalOL" >
          <li id="toc1">
              <h5>1. What Are Cookies?</h5>
              <p>A “cookie” is a text file that websites send to a visitor's computer or other device to uniquely identify the visitor's browser or to store 
                  information or settings in the browser.</p>
              <p>Persistent cookies are saved on your computer and are not deleted automatically when you exit your browser.  Session cookies are deleted at the 
                  end of your browsing session.</p>
              <p>We only use cookies for analytics purposes, and to record your cookie preferences, as described below.</p>                     
          </li>
          <li id="toc2">
              <h5>2. How Cookies Are Used On This Site</h5>
              <p>
                  We use Matomo Analytics's analytics cookies to gain a better understanding of the traffic to the Site - things like how many people visit the Site, 
                  how much time they spend on Site and which pages of the Site they visit.  We have restricted the settings for our use of Matomo Analytics to prohibit 
                  the collection of personal information.  To learn more about Matomo Analytics and its use of cookies, please see Matomo Analytics' privacy policy 
                  <a href="https://matomo.org/privacy-policy/" target="_blank">here</a>.
              </p>
          </li>
          <li id="toc3">
              <h5>3. How You Can Manage Your Cookies</h5>   
              <p>
                We use the cookie consent banner offered by KIProtect GmbH (“Klaro”) to obtain your cookie preferences.  Whenever you visit the Site and agree to its use, 
                a Klaro cookie will record and store your choices with respect to cookies.  This recorded information will be stored until you delete the Klaro cookie or 
                request that we do so.  To learn more about Klaro and its use of cookies, please see <a href="http://heyklaro.com" target="_blank">here</a>.
              </p>       
              <p>
                  To opt out of website tracking by Matomo Analytics please see the “Opt-out of website tracking” portion of their privacy policy 
                  <a href="https://matomo.org/privacy-policy/" target="_blank">here</a>.
              </p>
              <p>You can modify your cookie preferences by clicking the links below based on your current browser:</p>
              <ul class="legalTOC">
                  <li>
                      <a href="https://support.microsoft.com/en-us/windows/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d" target="_blank">Internet Explorer</a>
                  </li>
                  <li>
                      <a href="https://support.microsoft.com/en-us/windows/microsoft-edge-browsing-data-and-privacy-bb8174ba-9d73-dcf2-9b4a-c582b4e640dd" target="_blank">Microsoft Edge</a>
                  </li>
                  <li>
                      <a href="https://support.google.com/accounts/answer/61416?hl=en&ref_topic=7189049" target="_blank">Google Chrome</a>
                  </li>
                  <li>
                      <a href="https://support.apple.com/guide/safari/manage-cookies-sfri11471/mac" target="_blank">Safari</a>
                  </li>
                  <li>
                      <a href="https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop?redirectslug=enable-and-disable-cookies-website-preferences&redirectlocale=en-US" target="_blank">Firefox</a>
                  </li>
              </ul>
              <p>
                  In addition to the browser-based controls, you can manage third party cookies by visiting the following links:  
                  <a href="http://optout.aboutads.info/" target="_blank">optout.aboutads.info/</a> or <a href="http://youronlinechoices.eu/" target="_blank">youronlinechoices.eu/</a>.</p>
              <p>
                  You can also delete the cookies stored on your computer in order to permanently delete the information they contain.
              </p>
          </li>
      </ul>
    </div>
  </div>
 </main> 