<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}" class="no-js">
  {% include head.html %}
  <body class="layout--{{ page.layout | default: layout.layout }} {% if page.url != '/' %}navMin{% endif %}">
    {% comment %}
      {% include skip-links.html %}
    {% endcomment %}
    <div id="sidebar" class="sidebar">
      <div class="inner">
        {% include nav-social.html %}
        {% include nav-pages.html %}
      </div>
    </div>
    {% include masthead.html %}
    <div class="canvas">
      <div class="wrapper">
        <div class="initial-content">
          {{ content }}
          {% include footer.html %}
        </div>
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>
