---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="short-2col">
    <div class="inner">
      <h3><span>Designed to meet the </span>needs of business builders.</h3>

      <div class="columns-2">
        <p class="large">Delivers compounding network effects of a universal, app-agnostic social graph<br><br>
          Architecture bypasses common Web3 user experience issues<br><br>

          Dramatically cuts blockchain transaction costs and pricing volatility<br><br>
          Shifts blockchain cost from OPEX to CAPEX to support sustainable business models
        </p>
      </div>
    </div>
  </div>
  <div class="intro-2">
    <div class="inner">
      <div class="sub-intro-text">
        <h3 class="intro-title"><span>Frequency gives builders high</span><span> volume blockchain transactions</span><span> at low, predictable costs.</span></h3>
      </div>
    </div>
  </div>
</main>
