---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="short-2col">
    <div class="inner">
      <div class="columns-2">
        <p>For too long, large global companies have had control of the world's social networks—and dictated the path of innovation. 
          Even as social networking became a critical service, these companies make the calls, behind closed doors, that shape our digital 
          public square—and our lives.
        
          It's time to restructure the competitive landscape for open innovation. To unlock the power of diverse builders to reimagine how 
          social networks serve people, not platforms. To redefine scale as a collaboration that benefits all, instead of a race in which 
          one winner takes all. It's time to take back the public square.
        </p>
        <!--<p>
          For too long, apps have taken one approach to 100 million users they took control of our social networks. 
          This was the hook that kept us coming, even as they surveilled us. Used our data and creativity to drive their revenue.
        </p>
        <p>
          Charged high tolls for connecting us to gig work, rides, and deliveries. And the few companies behind these apps use their 
          power to make the calls that shape our lives. It can feel like we have no way out.
        </p>-->
      </div>
    </div>
  </div>
  <div class="intro-2">
    <div class="inner">
      <div class="sub-intro-text">
        <h3 class="intro-title">Frequency makes collaborative social networks production-ready at a low, predictable cost.</h3>
        <a href="/how" class="btn">Learn How</a>    
      </div>
    </div>
  </div>
  {% comment %}
  <div class="inner">
      <ul class="feature-cards" style="height:500px;">
          <li>
            <h4>Headline 1</h4>
            <p>lorem ipsum</p>
          </li>
          <li>
          feature 2
        </li>
      </ul>
  </div>
  {% endcomment %}
</main>
