---
layout: default
---

{% include page-intro.html %}



<main id="main" class="page-content" aria-label="Content"> 
  <section class="contentBlock-light">
    <div class="inner">
        <h3>Frequency delivers a new pricing model for building predictable, sustainable businesses.</h3>
        <p>
            Frequency transforms how blockchain transactions are priced. Instead of paying per transaction, 
            builders reserve an allocation of capacity at a predictable low cost—with capacity replenishing in 
            regular increments. Frequency can be leveraged by Web3 natives, or by Web2 businesses that want to 
            tap into new Web3 features and revenue streams.
        </p>
    
        <ul class="chart">
          <!--<li class="heading"><h5>From</h5></li>
          <li class="heading"><h5>To</h5></li>--> 
          <li class="heading"><h3>Shifting to a new economic model</h3></li>      
          <li>
            <div>
              <h5>From high, volatile costs</h5>
              <p>Gas fees and network congestion drive costs</p>
            </div>
          </li>
          <li>
            <div>
              <h5>To low, predictable cost</h5>
              <p>Costs stabilized via a new economic model</p>
            </div>
          </li>
          <li>
            <div>
              <h5>From operating expense</h5>
              <p>Business costs managed by-the-transactions</p>
            </div>  
          </li>
          <li>
            <div>
              <h5>To business asset</h5>
              <p>Stable, replenishing allocation of transaction capacity</p>
            </div>
          </li>
        </ul>

        <h4>Frequency unlocks an entirely new class of use cases.</h4>
        <p>
            Frequency makes it possible for builders to lock in replenishing capacity instead of managing often high 
            and volatile transaction expenses. This delivers an essential foundation for new business models, and unlocks 
            the use of blockchain technology for an entirely new class of transactions—from social networking and beyond.
        </p>    
        <p>
            Now the technology can be cost efficiently used for a new range of high-frequency, massive-scale decentralized 
            apps and services. This ability-to-scale is not only critical to widespread adoption of Web3, but also for 
            supporting the requirements of traditional businesses seeking to transition to people-centric practices, 
            such as giving users control over their own data.
        </p>
    </div>
  </section>  
  <section class="quoteSection rightQuote gavin withIntro">
    <div class="inner">
        <div class="quoteIntro">
            <h3>Frequency builds on years of development in decentralized social</h3>
            <p>
                We believe that a public social graph completely disconnected from financial incentives is the first essential piece 
                of infrastructure required to unlock the true potential of social networks. The Decentralized Social Networking Protocol 
                (DSNP), in development for nearly three years and with a completed end-to-end proof of concept—makes this possible.
            </p>
            <p>
                DSNP facilitates a secure, open source, universally accessible social graph that is not linked to any financial incentives 
                by crypto tokens or private company database servers. The decoupling of financial incentives from the core protocol makes DSNP 
                distinct from all other blockchain-based social networking projects. We believe this approach is essential to support a healthier 
                third generation of the web.
            </p>
        </div>
        <div class="innerQ">
          <div class="quoteWrapper">
            <h3>“Web 3.0 needs a universally accessible social graph to be successful. 
                DSNP presents a clear path toward providing this crucial service.”</h3>
            <p class="byline">
                -Dr. Gavin Wood<br>
                Co-founder of Ethereum and Creator of Polkadot
            </p>
          </div>
        </div>
    </div> 
  </section>
  <section class="collab">
    <div class="inner">
        <h3>Polkadot uniquely supports this breakthrough</h3>
        <p>
          Polkadot's shared consensus model opens DSNP to scaled growth. As the first production-grade implementation of DSNP, Frequency leverages Polkadot's 
          relay chain to deliver block validation at a fixed price. Future improvements in Frequency will continue to lower cost in the future.
        </p>
        <ul>
          <li><a class="btn charcoal" href="https://forums.projectliberty.io/t/update-on-chain-selection/133" target="_blank">Chain selection process</a></li>
          <li><a class="btn charcoal" href="https://forums.projectliberty.io/t/chain-selection-polkadot/236" target="_blank">Why Polkadot?</a></li>
        </ul>
        </div>
    </div> 
  </section>    
</main>
