---
layout: default
---


<main id="main" class="page-content" aria-label="Content">
    <section class="legalIntro" style="background:#f0f0f0;">
        <div class="inner">
            <div class="row">
                <h2>Frequency.xyz Privacy Policy</h2>
                <p class="subheading">Effective Date: June 29, 2022</p>
                <p>
                    Welcome to Frequency.xyz.  This is the privacy policy (the “Privacy Policy”) that applies to the Frequency.xyz website (the “Site”).  This site is operated by 
                    Unfinished Labs, LLC and its affiliates (collectively, “Unfinished,” “we,” “us” or “our”). 
                </p>
                <p>
                    This Privacy Policy describes the types of personal information collected in connection with your use of the Site, how the personal information is processed, 
                    and to whom the personal information is disclosed.  This Privacy Policy also describes how you can exercise your rights and choices with respect to your personal 
                    information. 
                </p>
                <p>
                    This Privacy Policy may be updated or modified at any time, including without limitation, to comply with applicable law.  The effective date will be posted 
                    at the top of this Privacy Policy. 
                </p>
                <p>
                    Unfinished, a U.S. company incorporated under the laws of Delaware, with its address at 888 Seventh Avenue, 16th Floor, New York, NY 10106, is the controller 
                    of personal information described in this Privacy Policy.
                </p>
            </div>
        </div>
    </section>
    <section class="legalHeader">
        <div class="inner">
            <div class="row">
                <div class="twelve columns">
                <p>
                    Click on one of the links below to go to the listed section:
                </p>
                <ul class="legalList legalTOC listColumns">    
                    <li><a href="#toc1">Personal Information Collected</a></li>
                    <li><a href="#toc2">How Personal Information is Used</a></li>
                    <li><a href="#toc3">Online Tracking</a></li>
                    <li><a href="#toc4">How Personal Information is Disclosed</a></li>
                    <li><a href="#toc5">Children's Personal Information</a></li>
                    <li><a href="#toc6">Links to Other Websites and Apps</a></li>
                    <li><a href="#toc7">How Personal Information is Protected</a></li>
                    <li><a href="#toc8">Retention of Personal Information</a></li>
                    <li><a href="#toc9">Your Rights and Choices</a></li>
                    <li><a href="#toc10">General Data Protection Regulation (“GDPR”)</a></li>
                    <li><a href="#toc11">California Privacy Rights</a></li>
                    <li><a href="#toc12">Updates to the Privacy Policy</a></li>
                    <li><a href="#toc13">How To Contact Us</a></li>
                </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="inner">
        <div class="row">
            <ul class="legalList legalOL">
                <li id="toc1">
                    <h5>1. Personal Information Collected</h5>
                    <p>The following personal information may be collected in connection with your use of the Site:</p>
                    <ul>
                        <li>Contact information, such as your email address when you send an email to <a href="mailto:hello@frequency.xyz">hello@frequency.xyz</a> about the Site;</li>
                        <li>Internet or other electronic network activity information (as described in more detail below); and</li>
                        <li>Other personal information in content you provide via your communications to us or information provided on our social media platforms.</li>
                    </ul>
                    <p>
                        This personal information is collected from a variety of sources, including directly from you, your devices, vendors who provide services on our behalf, 
                        your interactions with our social media accounts, and public data sources.  We only collect the minimum amount of personal information necessary 
                        from you, unless you choose to provide more.
                    </p>
                    <p>
                        In addition, when you visit our websites, we obtain certain information by automated means, such as through the use of web server logs and web beacons. 
                        The information collected in this manner includes IP addresses, operating systems type, browser type, domain and other system settings.
                    </p>
                    <p>
                        A "cookie" is a text file that websites send to a visitor's computer or other device to uniquely identify the visitor's browser or to store information 
                        or settings in the browser. Local storage is a file created by a website or application that stores information on your device.  Cookies are one type of 
                        local storage, but there are others including your browser's local storage and session storage functions. Data held in session storage is stored temporarily 
                        and is deleted at the end of your browsing session.  Data held in local storage is persistent until deleted.  You may erase local storage by deleting your 
                        browser's history and cache.
                    </p>
                    <p>
                        The Site does not collect personal information through the use of cookies or local and session storage.  To find out more about the way we use cookies and 
                        how to manage your settings and preferences at any time, please visit our <a href="cookies.html">Cookies Policy</a>.
                    </p>
                </li>
                <li id="toc2">
                    <h5>2. How Personal Information is Used</h5>
                    <p>Your personal information may be used to:</p>
                    <ul>
                        <li>Manage and respond to your communications, inquiries and requests;</li>
                        <li>Manage, operate and improve the Site;</li>
                        <li>Provide support services, including diagnosing and fixing technical issues;</li>
                        <li>Protect against, identify and prevent fraud and other criminal activity, claims and other liabilities; and</li>
                        <li>Comply with and enforce applicable legal requirements, relevant industry standards and our contractual rights and policies.</li>
                    </ul>
                    <p>
                        In addition, we use information collected automatically through web server logs, web beacons and other automated means to:
                    </p>
                    <ul>
                        <li>Help diagnose technical and service problems; and</li>
                        <li>Identify and gather demographic and usage information about our users to tailor the Site to better meet the needs of our users.</li>
                    </ul>
                </li>
                <li id="toc3">
                    <h5>3. Online Tracking</h5>                   
                    <p>
                        The Site is not designed to respond to “do not track” signals received from browsers.
                    </p>
                </li>
                <li id="toc4">
                    <h5>4. How Personal Information is Disclosed</h5>                   
                    <p>
                        Your personal information is not sold, rented, or otherwise disclosed with any third parties except as described in this Privacy Policy.  
                        In some cases, your personal information may be disclosed to third-party vendors to help provide services to you.
                    </p>
                    <p>
                        Your personal information may be disclosed to our affiliates and subsidiaries.
                    </p>
                    <p>
                        Your personal information may also be shared (1) as required by law or legal process, such as in response to a valid court order or subpoena, (2) in 
                        response to a government request or law enforcement investigation, (3) to exercise or defend legal rights or (4) as necessary or appropriate to 
                        prevent physical harm or suspected or illegal activity.
                    </p>
                    <p>
                        Your personal information may be transferred in the event all or a portion of the business or assets of the Site's operator is sold or transferred 
                        (including in the event of a merger, acquisition, joint venture, reorganization, divestiture, dissolution or liquidation) to the successor of such 
                        business or assets.
                    </p>
                    <p>
                        We may also aggregate or anonymize personal information in accordance with applicable law and disclose such aggregated or anonymized information to third parties.
                    </p>
                </li>
                <li id="toc5">
                    <h5>5. Children's Personal Information</h5>               
                    <p>
                        The Site is geared toward a general audience, and is not directed to children under 13 years of age in the United States or under the applicable 
                        minimum age in other countries at which children can legally provide their personal information without parental consent. The operator of the Site 
                        does not knowingly collect personal information from children who are not legally permitted in their countries to provide their personal information 
                        without parental consent and any such personal information will be promptly deleted, unless it is legally required to be retained.  If you believe a 
                        child under the legal minimum age may have provided personal information in connection with the Site, please contact us as specified in the 
                        <a href="#toc13">“How to Contact Us”</a> section of this Policy.
                    </p>    
                </li>
                <li id="toc6">
                    <h5>6. Links to Other Websites and Apps</h5>
                    <p>
                        The Site may contain links to other websites and apps for your convenience, which will be governed by the privacy practices of such applicable websites 
                        and apps.  In addition, if you disclose personal information on social networks and other websites operated by third parties, they may act as separate 
                        data controllers from the operator of this Site.  
                    </p>
                </li>
                <li id="toc7">
                    <h5>7. How Personal Information is Protected</h5>
                    <p>
                        Your personal information will be protected by reasonable safeguards designed to keep your information secure from accidental, unauthorized or unlawful 
                        use, acquisition, destruction, loss, alteration, access or disclosure.  
                    </p>
                </li>
                <li id="toc8">
                    <h5>8. Retention of Personal Information</h5>
                    <p>
                        To the extent permitted by applicable law, your personal information will be retained as long as needed for the purposes for which it was provided or 
                        there is another lawful basis for retaining the data, such as to comply with applicable laws or regulations, for dispute resolution purposes, to 
                        enforce agreements, prevent fraud or for other legitimate purposes. 
                    </p>
                </li>
                <li id="toc9">
                    <h5>9. Your Rights and Choices</h5>
                    <p>Subject to applicable law, you may have the right to:</p>
                    <ul>
                        <li>Request access to your personal information;</li>
                        <li>Correct or amend your personal information;</li>
                        <li>Request the deletion of your personal information;</li>
                        <li>Request restrictions on the use of your personal information or object to or request that we refrain from processing your personal information;</li>
                        <li>Request the transfer of your personal information to a third party you select;</li>
                        <li>Request the following information be disclosed to you:
                            <ul>
                                <li>the categories of personal information collected about you,</li>
                                <li>the categories of sources from which the personal information is collected,</li>
                                <li>the business or commercial purpose for collecting or selling the personal information,</li>
                                <li>the categories of third parties with whom personal information has been shared,</li>
                                <li>the specific pieces of personal information collected about you; and</li>
                            </ul>
                        </li>
                        <li>Not receive discriminatory treatment for the exercise of any of the foregoing rights.</li>
                    </ul>
                    <p>
                        To make a request with respect to your personal information, please contact us by email at <a href="mailto:privacy@frequency.xyz">privacy@frequency.xyz</a>.
                    </p>
                    <p>
                        In order to protect your privacy and security, your identity must be verified prior to completing any request that you may submit with respect to 
                        your personal information.  You may be asked to provide certain information already collected from you to confirm that it matches our records so 
                        please include the following information in all requests: first name, last name, email address, physical address (to identify the jurisdiction in 
                        which you live), a description of the request being made, and “Privacy” in the subject line.
                    </p>
                    <p>
                        While reasonable efforts will be made to accommodate your request, certain restrictions and requirements may be imposed on such requests, as 
                        permitted or required by applicable law.
                    </p>
                    <p>
                        You may designate an authorized agent to make a request on your behalf pursuant to this Privacy Policy or applicable law. Prior to completing a 
                        request made by such an authorized agent, your authorized agent must provide a copy of written permission from you to submit such a request on 
                        your behalf.
                    </p>
                </li>
                <li id="toc10">
                    <h5>10. General Data Protection Regulation (“GDPR”)</h5>
                    <p>
                        Your personal information is processed for the purposes described in the “<a href="#toc2">How Personal Information is Used</a>” and “<a href="#toc4">How Personal Information is Disclosed</a>” sections of this Privacy Policy.  Different legal bases under the GDPR are used to process your personal information depending on whether the processing is: 
                    </p>
                    <ul>
                        <li>based on your consent;</li>
                        <li>necessary to comply with a legal, regulatory, tax or other obligation;</li>
                        <li>
                            necessary for our legitimate interests, such as offering products and services based on user interests, improving services, managing 
                            relationships and preventing fraud.
                        </li>
                    </ul>
                    <p>
                        Where consent is used as a legal basis to process your personal information, you may withdraw your consent at any time by contacting us as described 
                        in the “<a href="#toc13">How to Contact Us</a>” section of this Privacy Policy.  This will not impact the lawfulness of any processing based on consent prior to its 
                        withdrawal.
                    </p>
                    <p>
                        You may exercise your rights with respect to your personal information as set forth in the “<a href="#toc9">Your Rights and Choices</a>” 
                        section of this Privacy Policy.
                    </p>
                    <p>
                        You may also have the right to lodge a complaint with the data protection authority in your jurisdiction if you believe that a violation of 
                        applicable data protection law in your jurisdiction has occurred.
                    </p>
                    <p>
                        Your personal information may be transferred to recipients (including third party service providers) in countries other than the country in which 
                        the information originally was collected.  Those countries may not have the same data protection laws as the country in which you initially provided 
                        the information.  When your information is transferred to recipients in other countries (such as the U.S.), it will be protected as described in 
                        this Privacy Policy and we will comply with applicable legal requirements providing adequate protection for the transfer of personal information 
                        to recipients in countries other than the one in which you provided the information.
                    </p>
                </li>
                <li id="toc11">
                    <h5>11. California Privacy Rights</h5>
                    <p>
                        Your personal information may be used for a number of “business purposes” as defined in the California Consumer Privacy Act of 2018, Cal. Civ. Code 
                        § 1798.100 et seq. and its implementing regulations (the “CCPA”), as modified by the California Privacy Rights Act (the “CPRA”).  These business 
                        purposes include:
                    </p>
                    <ul>
                        <li>
                            Detecting security incidents, protecting against malicious, deceptive, fraudulent, or illegal activity, and prosecuting those responsible for 
                            that activity;
                        </li>
                        <li>Debugging to identify and repair errors that impair existing intended functionality;</li>
                        <li>Short-term, transient use;</li>
                        <li>Undertaking internal research for technological development and demonstration; and</li>
                        <li>Undertaking activities to verify or maintain the quality or safety of a service and to improve, upgrade, or enhance the service.</li>
                    </ul>
                    <p>
                        Your personal information is not sold in exchange for monetary compensation or other valuable consideration and has not been sold in the past 
                        twelve (12) months.  Your personal information is not shared for cross-contextual behavioral advertising purposes.
                    </p>
                    <p>
                        You may exercise your rights under the CCPA with respect to your personal information as set forth in the <a href="#toc9">“Your Rights and Choices”</a> section of 
                        this Privacy Policy. We will not discriminate or retaliate against you if you choose to exercise any of your rights under the CCPA.  We are permitted, however, 
                        to charge you a reasonable fee to comply with your request.
                    </p>
                </li>
                <li id="toc12">
                    <h5>12. Updates to the Privacy Policy</h5>
                    <p>
                        This Privacy Policy may be updated at any time and without prior notice to you to reflect any changes to information practices or to comply with 
                        applicable laws or regulations.  We will post a notice on the Site to notify you of any significant changes to this Privacy Policy and indicate at the 
                        top of the notice when it was most recently updated.
                    </p>
                </li>
                <li id="toc13">
                    <h5>13. How To Contact Us</h5>
                    <p>
                        If you have any comments or questions about this Privacy Policy or personal information practices, please contact us by email at <a href="mailto:privacy@frequency.xyz">privacy@frequency.xyz</a>.
                    </p>
                    <p>If you have a technical or support question, please contact <a href="mailto:hello@frequency.xyz">hello@frequency.xyz</a>.</p>
                </li>
            </ul>
        </div>
    </div>
 </main>   