---
layout: default
---

{% include page-intro.html %}



<main id="main" class="page-content" aria-label="Content"> 
  <section class="features">
    <div class="inner">
      <ul class="feature-cards">
          <li>
            <h5>A movement whose <span>time has come</span></h5>
            <p>It is clear legacy social apps are creating harm to society. A growing community of developers is building pioneering, composable social 
              primitives and client-level apps to put decentralized alternatives in the hands of the people.
            </p>
          </li>
          <li>
              <h5>Compounding <span>network effects</span></h5>
              <p>Historically, developers built a user base from zero, and users would build followings on each new app. The Social Web eliminates these 
                silos through a universal, shared social graph. With every new user base its collective power grows.
              </p>
          </li>
          <li>
            <h5>The freedom to <span>innovate</span></h5>
            <p>Legacy players have controlled social network innovation for over a decade. Winner-take-all mega platforms acquire competitors that fit with 
              their model and suffocate the rest. The Social Web unlocks a greenfield category of collaborative social networks with diverse winners at 
              all levels of the tech stack.
            </p>
          </li>
      </ul>
    </div>      
  </section>
  <section class="contentBlock-dark">
    <div class="inner">
        <h3>A growing ecosystem of social primitives deliver the Social Web at production-grade.</h3>
        <!--<h5></h5>-->
        <p>
          Businesses that want to migrate existing social apps to Web3 and developers building new Web3 native social apps will face devastating scaling 
          limitations. Much of the decentralized social technology in the market today will overwhelm a blockchain network or a business' operating expense 
          before they reach even a million users. Frequency is focused on bringing the Social Web to the scale of Web 2.0  — hundreds of millions and even 
          billions of users. Frequency is expected to be a part of a growing ecosystem of infrastructure that will support the apps that join the Social Web.
        </p>
        
        <!--?xml version="1.0" standalone="no"?-->
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.0//EN" "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
        {% include social-web-stack.svg %}
        {% include social-web-stack-mobile.svg %}

    </div>
  </section>  
  </main>